body {
    font-family: $font-family-default;
    font-style: normal;
    font-weight: $font-normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 4.375rem;
    font-weight: $font-bold;
    letter-spacing: -0.9px;
    color: $text-light-color;

    @media (max-width: breakpoint-var(xxl)) {
        font-size: 3.5rem;
    }

    @media (max-width: breakpoint-var(xl)) {
        font-size: 3.1rem;
    }

    @media (max-width: breakpoint-var(lg)) {
        font-size: 2.4rem;
    }

    @media (max-width: breakpoint-var(md)) {
        font-size: 2.3rem;
    }

    @media (max-width: breakpoint-var(sm)) {
        font-size: 1.9rem;
    }

    @media (max-width: breakpoint-var(xsm)) {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 3.4rem;
    color: $text-dark-color;
    font-weight: $font-bold;

    @media (max-width: breakpoint-var(xl)) {
        font-size: 3.0rem;
    }


    @media (max-width: breakpoint-var(md)) {
        font-size: 2.3rem;
    }

    @media (max-width: breakpoint-var(sm)) {
        font-size: 1.8rem;
    }

    @media (max-width: breakpoint-var(xsm)) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 3rem;
    color: $text-dark-color;
    font-weight: $font-normal;

    @media (max-width: breakpoint-var(xl)) {
        font-size: 2.2rem;
    }

    @media (max-width: breakpoint-var(lg)) {
        font-size: 2rem;
    }

    @media (max-width: breakpoint-var(md)) {
        font-size: 1.5rem;
    }

    @media (max-width: breakpoint-var(sm)) {
        font-size: 1.2rem;
    }

    @media (max-width: breakpoint-var(xsm)) {
        font-size: 1.125rem;
    }
}

.text-desc {
    font-size: 1.5rem;
    color: $text-dark-color;
    font-weight: $font-normal;

    @media (max-width: breakpoint-var(sm)) {
        font-size: 1.1rem;
    }

    @media (max-width: breakpoint-var(xsm)) {
        font-size: 1rem;
    }
}