/* Section Description styles start */

.description {
    box-sizing: border-box;

    justify-content: space-evenly;
    // max-height: 100vh;

    background-image: url(/assets/images/desc_bg_left.jpg), url(/assets/images/desc_bg_right.svg);
    background-position: top 12% left 0%, top 12% right 0%;
    background-repeat: no-repeat;
    background-size: 380px;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__images {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 30% 30% 30%;
    }

}

.description-text {
    text-align: center;
}

.description-text__subtitle {
    font-size: 20px;
    line-height: 28px;
}

.description__image1 {
    align-self: end;
}

.description__image2 {
    align-self: end;
}

.description__image3 {
    align-self: end;
}

/* Section Description styles end */