.description {
    margin-top: 5%;
    background-image: url(/assets/images/desc_bg_left.jpg), url(/assets/images/desc_bg_right.svg);
    background-position: top 12% left 0%, top 12% right 0%;
    background-repeat: no-repeat;
    background-size: 380px;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__images {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 30% 30% 30%;
        padding: 0% 5.2% 0 5.2%;

        @media (max-width: breakpoint-var(sm)) {
            grid-template-columns: 1fr;
        }
    }

    &-text {
        text-align: center;
        max-width: 1160px;
        margin: 0 auto;
        padding: 0% 5.2% 5% 5.2%;
    }
}