.header {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: breakpoint-var(lg)) {
        min-height: fit-content;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1720px;
        margin: 0 auto;
        padding: 2rem 5.2% 0 5.2%;
    }

    &__logo {
        @media (max-width: breakpoint-var(lg)) {
            max-width: 50%;
        }
    }

    &-nav {
        &__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 3vw;
            padding-left: 0;
            list-style: none;
        }

        &__link {
            font-family: $font-family-secondary;
            font-size: 24px;
            color: $color-light;

            &:hover {
                border-bottom: 1px solid $color-light;
            }

            @media (max-width: breakpoint-var(xl)) {
                font-size: 19px;
            }
        }

        @media (max-width: breakpoint-var(lg)) {
            display: none;
        }
    }

    &-contacts {
        display: flex;
        flex-direction: column;

        &__number {
            margin-bottom: 5px;
            padding: 7px 5px;
            font-size: 24px;
            text-align: center;
            color: $text-dark-color;
            background: $color-light;

            &:hover {
                background: $color-accent;
            }

            @media (max-width: breakpoint-var(xl)) {
                font-size: 20px;
            }

        }

        &__text {
            font-size: 18px;
            line-height: 26px;
            font-weight: bold;
            color: $color-light;
        }

        @media (max-width: breakpoint-var(lg)) {
            display: none;
        }
    }

    &-text {
        max-width: 1338px;
        margin: 60px auto;
        padding: 2rem 15.2% 0 15.2%;
        color: $color-light;

        @media (max-width: breakpoint-var(lg)) {
            padding: 0 15.2% 0 15.2%;
        }

        @media (max-width: breakpoint-var(md)) {
            padding: 0 5.2% 0 5.2%;
        }

        &__desc {
            color: $color-light;
        }

        &__subtitle {
            color: $color-light;
        }
    }

    &-preview {
        // position: absolute;
        // bottom: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 330px;
        margin: 0 15.2%;
        margin-top: 5vh;
        padding: 5px 20px;
        color: $color-light;
        background-color: rgba($color-secondary, 0.52);

        @media (max-width: breakpoint-var(md)) {
            margin: 0 5.2%;
        }

        &__text {
            color: $color-light;
        }
    }

    &-image_bg_right {
        position: absolute;
        top: 30.66%;
        right: 0;
        max-width: 380px;
    }
}

.mobile-nav,
.mobile__toggle-label,
#mobile__toggle {
    display: none;
}

@media (max-width: breakpoint-var(lg)) {

    .mobile__toggle-label {
        display: block;
        cursor: pointer;

        justify-self: end;
        z-index: 2;
        font-size: 30px;
        line-height: 70px;
        font-weight: $font-bold;
        color: $color-light;
    }

    #mobile__toggle:checked+.mobile-nav {
        display: block;
    }

    .mobile-nav {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        padding: 60px 30px 30px 20px;
        background-color: $color-accent;
    }

    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        list-style: none;
    }
}

.header-image_bg_right {
    @media (max-width: breakpoint-var(lg)) {
        max-width: 40%;
    }

    @media (max-width: breakpoint-var(xsm)) {
        display: none;
    }
}