.header {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1720px;
        margin: 0 auto;
        padding: 2rem 5.2% 0 5.2%;
    }

    &-nav {
        padding-left: 1em;

        &__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 4vw;
            list-style: none;
        }

        &__link {
            font-family: $font-family-secondary;
            font-size: 20px;
            color: white;

            &:hover {
                border-bottom: 1px solid white;
            }
        }
    }

    &-contacts {
        display: flex;
        flex-direction: column;

        &__number {
            margin-bottom: 5px;
            padding: 7px 0px;
            font-size: 20px;
            text-align: center;
            color: rgba(26, 26, 24, 1);
            background: #ffffff;

            &:hover {
                background: #545A2F;
            }
        }

        &__text {
            font-size: 18px;
            line-height: 26px;
            font-weight: bold;
            color: white;
        }
    }

    &-text {
        max-width: 1338px;
        margin: 60px auto;
        padding: 2rem 15.2% 0 15.2%;
        color: white;

        &__desc {
            font-size: 20px;
            line-height: 31px;
        }

        &__subtitle {
            font-size: 38px;
            line-height: 62px;
            text-align: center;
        }
    }

    &-preview {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-width: 330px;
        margin: 0 15.2%;
        padding: 5px 20px;
        color: white;
        background: rgba(99, 83, 62, 0.52);

        &__text {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &-image_bg_right {
        position: absolute;
        top: 30.66%;
        right: 0;
        max-width: 380px;
    }
}