/* Section scope styles start */

.scope {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 140px 1fr 70px;
    grid-template-areas:
        "scope__tl scope__tl scope__tl"
        "scope-project__hd scope-green__hd scope-landscaping__hd"
        "scope-project__li scope-green__li scope-landscaping__li"
        ". scope__bt .";
    align-items: center;
    justify-content: space-evenly;
    column-gap: 50px;
    row-gap: 10px;
    height: 1060px;
    max-height: 100vh;
    padding: 0px 19%;
}

.scope__title {
    grid-area: scope__tl;
    font-size: 42px;
    line-height: 56px;
    font-weight: normal;
    text-align: center;
}

.scope-project__head {
    grid-area: scope-project__hd;
}

.scope-project__list {
    grid-area: scope-project__li;
}

.scope-green__head {
    grid-area: scope-green__hd;
}

.scope-green__list {
    grid-area: scope-green__li;
}

.scope-landscaping__head {
    grid-area: scope-landscaping__hd;
}

.scope-landscaping__list {
    grid-area: scope-landscaping__li;
}

.scope-project__head img,
.scope-green__head img,
.scope-landscaping__head img {
    width: 55px;
    height: 55px;
}

.scope-project__head,
.scope-green__head,
.scope-landscaping__head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 20px;
    font-size: 30px;
}

.scope-project__list,
.scope-green__list,
.scope-landscaping__list {
    height: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 31px;
}

.scope__button {
    grid-area: scope__bt;
    justify-self: center;
    width: 50%;
    padding: 16px 28px;
    font-size: 20px;
    color: white;
    text-align: center;
    background: #545A2F;
}

/* Section scope styles end */
/* Main styles end */