.scope {
    max-width: 1720px;
    margin: 0 auto;
    padding: 2rem 15.2% 0 15.2%;


    &__container {
        display: flex;
        flex-basis: auto;
        align-items: flex-start;
        justify-content: space-evenly;
        column-gap: 50px;

        @media (max-width: breakpoint-var(lg)) {
            flex-direction: column;
        }

    }
}

.scope__title {
    font-size: 42px;
    line-height: 56px;
    font-weight: normal;
    text-align: center;
}

.scope-project__head img,
.scope-green__head img,
.scope-landscaping__head img {
    width: 55px;
    height: 55px;
}

.scope-project__head,
.scope-green__head,
.scope-landscaping__head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    font-size: 30px;
}

.scope-project__list,
.scope-green__list,
.scope-landscaping__list {
    font-size: 20px;
    line-height: 31px;
}


.scope__button {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.scope__button_1 {
    padding: 16px 28px;
    font-size: 20px;
    color: white;
    text-align: center;
    background: #545A2F;
}