/* Section visual styles start */

.visual {
    min-height: 1000px;
    padding: 0 19%;

    background: url(/assets/images/visual_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    &__container {
        display: flex;
        column-gap: 50px;
    }
}

.visual__pic1 {
    max-width: 525px;
    margin-left: -200px;
}

.visual__pic2 {
    margin-top: -50px;
    max-width: 402px;
}

.visual-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.visual__item {
    display: flex;
    align-self: start;
    column-gap: 35px;
    font-size: 20px;
    line-height: 31px;
}

.visual__item img {
    align-self: start;
}

/* Section visual styles end */