/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/assets/fonts/pt-sans-v12-latin_cyrillic-regular.woff2") format("woff2"), url("/assets/fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/assets/fonts/pt-sans-v12-latin_cyrillic-700.woff2") format("woff2"), url("/assets/fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4.375rem;
  font-weight: 700;
  letter-spacing: -0.9px;
  color: #ffffff;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3.1rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.9rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 3rem;
  color: #1A1A18;
  font-weight: 400;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  h3 {
    font-size: 1.125rem;
  }
}

.text-desc {
  font-size: 1.5rem;
  color: #1A1A18;
  font-weight: 400;
}

@media (max-width: 576px) {
  .text-desc {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .text-desc {
    font-size: 1rem;
  }
}

.header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5.85%, rgba(0, 0, 0, 0.5)), color-stop(61.53%, rgba(134, 134, 134, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(/assets/images/header_bg.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  .header {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1720px;
  margin: 0 auto;
  padding: 2rem 5.2% 0 5.2%;
}

@media (max-width: 992px) {
  .header__logo {
    max-width: 50%;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  padding-left: 0;
  list-style: none;
}

.header-nav__link {
  font-family: Verdana, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.header-nav__link:hover {
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 1200px) {
  .header-nav__link {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contacts__number {
  margin-bottom: 5px;
  padding: 7px 5px;
  font-size: 24px;
  text-align: center;
  color: #1A1A18;
  background: #ffffff;
}

.header-contacts__number:hover {
  background: #545A2F;
}

@media (max-width: 1200px) {
  .header-contacts__number {
    font-size: 20px;
  }
}

.header-contacts__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 992px) {
  .header-contacts {
    display: none;
  }
}

.header-text {
  max-width: 1338px;
  margin: 60px auto;
  padding: 2rem 15.2% 0 15.2%;
  color: #ffffff;
}

@media (max-width: 992px) {
  .header-text {
    padding: 0 15.2% 0 15.2%;
  }
}

@media (max-width: 768px) {
  .header-text {
    padding: 0 5.2% 0 5.2%;
  }
}

.header-text__desc {
  color: #ffffff;
}

.header-text__subtitle {
  color: #ffffff;
}

.header-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 330px;
  margin: 0 15.2%;
  margin-top: 5vh;
  padding: 5px 20px;
  color: #ffffff;
  background-color: rgba(99, 83, 62, 0.52);
}

@media (max-width: 768px) {
  .header-preview {
    margin: 0 5.2%;
  }
}

.header-preview__text {
  color: #ffffff;
}

.header-image_bg_right {
  position: absolute;
  top: 30.66%;
  right: 0;
  max-width: 380px;
}

.mobile-nav,
.mobile__toggle-label,
#mobile__toggle {
  display: none;
}

@media (max-width: 992px) {
  .mobile__toggle-label {
    display: block;
    cursor: pointer;
    -ms-grid-column-align: end;
        justify-self: end;
    z-index: 2;
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
    color: #ffffff;
  }
  #mobile__toggle:checked + .mobile-nav {
    display: block;
  }
  .mobile-nav {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    padding: 60px 30px 30px 20px;
    background-color: #545A2F;
  }
  .mobile-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    list-style: none;
  }
}

@media (max-width: 992px) {
  .header-image_bg_right {
    max-width: 40%;
  }
}

@media (max-width: 320px) {
  .header-image_bg_right {
    display: none;
  }
}

.description {
  margin-top: 5%;
  background-image: url(/assets/images/desc_bg_left.jpg), url(/assets/images/desc_bg_right.svg);
  background-position: top 12% left 0%, top 12% right 0%;
  background-repeat: no-repeat;
  background-size: 380px;
}

.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__images {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  padding: 5% 5.2% 0 5.2%;
}

@media (max-width: 576px) {
  .description__images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1%;
  }
}

.description-text {
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0% 5.2% 0 5.2%;
}

/* Section visual styles start */
.visual {
  min-height: 1000px;
  padding: 0 19%;
  background: url(/assets/images/visual_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.visual__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

@media (max-width: 992px) {
  .visual__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.visual__pic1 {
  max-width: 525px;
  margin-left: -200px;
}

.visual__pic2 {
  margin-top: -50px;
  max-width: 402px;
}

.visual-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.visual__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  font-size: 20px;
  line-height: 31px;
}

.visual__item img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

/* Section visual styles end */
.scope {
  max-width: 1720px;
  margin: 0 auto;
  padding: 2rem 15.2% 0 15.2%;
}

.scope__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

@media (max-width: 992px) {
  .scope__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.scope__title {
  font-size: 42px;
  line-height: 56px;
  font-weight: normal;
  text-align: center;
}

.scope-project__head img,
.scope-green__head img,
.scope-landscaping__head img {
  width: 55px;
  height: 55px;
}

.scope-project__head,
.scope-green__head,
.scope-landscaping__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  font-size: 30px;
}

.scope-project__list,
.scope-green__list,
.scope-landscaping__list {
  font-size: 20px;
  line-height: 31px;
}

.scope__button {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scope__button_1 {
  padding: 16px 28px;
  font-size: 20px;
  color: white;
  text-align: center;
  background: #545A2F;
}

/* Footer styles start */
.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15.2% 1fr 15.2%;
      grid-template-columns: 15.2% 1fr 15.2%;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "ft__number ft__logo ft__socials" "ft__mail ft__logo ." "ft__copy ft__logo ft__conf";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
  margin-top: 100px;
  padding: 0px 5.2% 0px 5.2%;
  background-color: #545A2F;
  color: white;
}

.footer__number {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ft__number;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer__mail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ft__mail;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer__mail a {
  color: white;
}

.footer__copy {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ft__copy;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: ft__logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__socials {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ft__socials;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 41.25px;
}

.footer__conf {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: ft__conf;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 12px;
  line-height: 21px;
}

/* Footer styles end */
/*# sourceMappingURL=main.css.map */